<%def name="user_menu()" filter="trim">
    % if current_user.is_admin():
    <div class="sidebar-panel">
        <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
        <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>

        <h1>Administrator</h1>

        <div class="show-hide-sidepanel">
            % if check_perms("User", 'view-all'):
            <p><a href='${urls.build("user.view_all")|h}'>View All Users</a></p>
            % endif

            % if check_perms("User", 'add'):
            <p><a href='${urls.build("user.add")|h}'>Add New User</a></p>
            % endif
        </div>
    </div>
    % endif

     <div class="sidebar-panel">
        <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
        <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>

        <h1>My Account</h1>

        <div class="show-hide-sidepanel">

            <p><a href='${urls.build("user.view", dict(user_id=current_user.id))|h}'>View My Profile</a></p>
            % if not current_user.is_authoriser:
                <p><a href='${urls.build("user.case_history", dict(user_id=current_user.id))|h}'>View My Case History</a></p>
            % endif
            <p><a href='${urls.build("user.edit", dict(user_id=current_user.id))|h}'>Edit My Basic Details</a></p>
            <p><a href='${urls.build("user.edit_password", dict(user_id=current_user.id))|h}'>Change My Password</a></p>

            % if check_perms(current_user, 'edit-roles'):
            <p><a href='${urls.build("user.edit", dict(user_id=current_user.id, tab="edit_roles"))|h}'>Edit My Roles and Permissions</a></p>
            % endif
        </div>
     </div>

     % if user and current_user.id != user.id:
     <div class="sidebar-panel">
        <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
        <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>

        <h1>${user.username.title()|h}'s Account</h1>

        <div class="show-hide-sidepanel">
            <p><a href='${urls.build("user.view", dict(user_id=user.id))|h}'>View ${user.username.title()|h}'s Profile</a></p>
            % if check_perms(user, 'edit'):
            <p><a href='${urls.build("user.edit", dict(user_id=user.id))|h}'>Edit ${user.username.title()|h}'s Basic Details</a></p>
            % endif

            % if check_perms(user, 'view-history'):
            <p><a href='${urls.build("user.case_history", dict(user_id=user.id))|h}'>View Case History</a></p>
            % endif

            % if check_perms(user, 'edit-password'):
            <p><a href='${urls.build("user.edit_password", dict(user_id=user.id))|h}'>Change ${user.username.title()|h}'s Password</a></p>
            % endif
            % if check_perms(user, 'edit-roles'):
            <p><a href='${urls.build("user.edit", dict(user_id=user.id, tab="edit_roles"))|h}'>Edit ${user.username.title()|h}'s Roles and Permissions</a></p>
            % endif

        </div>
     </div>
     % endif

    % if current_user.is_a_manager():
    <div class="sidebar-panel">
        <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
        <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>

        <h1>Direct Reports</h1>

        <div class="show-hide-sidepanel">
            <p><a href='${urls.build("user.timesheet_overview")|h}'>Timesheets overview</a></p>
            <br/>
            % for person in current_user.direct_reports:
                <p><a href='${urls.build("user.timesheet", dict(user_id=person.id))|h}'>${person.fullname|h} timesheet</a></p>
            % endfor
        </div>
     </div>
    % endif
</%def>

<%def name="tasks_menu()" filter="trim">

    % if current_user.is_authoriser():
        <div class="sidebar-panel">
            <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
            <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>
            <h1>Case Authorisations</h1>
            <div class="show-hide-sidepanel">
                <p><a href='${urls.build("case.view_all", dict(view="Pending"))|h}'>Cases that require authorisation</a> (${len(authoriser_to_authorise)|h})</p>
                <p><a href='${urls.build("case.view_all", dict(view="Rejected"))|h}'>Cases rejected</a> (${len(authoriser_rejected)|h})</p>
                <p><a href='${urls.build("case.view_all", dict(view="Authorised"))|h}'>Cases authorised</a> (${len(authoriser_authorised)|h})</p>
            </div>

        </div>
    % endif

    % if current_user.is_case_manager():
        <div class="sidebar-panel">
            <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
            <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>
            <h1>Case Management</h1>
            <div class="show-hide-sidepanel">
                <p><a href='${urls.build("case.add", dict(active_tab=3))|h}'>Add new case</a></p>
                <p><a href='${urls.build("case.view_all", dict(view="Unassigned"))|h}'>View cases with no case manager</a> (${created_cases_no_manager|h})</p>
                <p><a href='${urls.build("case.view_all", dict(view="Created"))|h}'>View created cases</a> (${created_cases|h})</p>
                <p><a href='${urls.build("case.view_all", dict(view="Open"))|h}'>View open cases</a> (${open_cases|h})</p>
                <p><a href='${urls.build("case.view_all", dict(view="My"))|h}'>View my cases</a> (${my_cases|h})</p>
            </div>

        </div>
    % endif

    % if current_user.is_requester():
        <div class="sidebar-panel">
        <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
        <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>

        <h1>Case Requests </h1>
        <div class="show-hide-sidepanel">
            <p><a href='${urls.build("case.add")|h}'>Add new Case</a></p>

            <h1>Cases Requested</h1>
            <p><a href='${urls.build("user.case_history", dict(user_id=current_user.id))|h}'>View summary</a></p>


            <h2>Cases Awaiting Authorisation</h2>
            % for case in requester_pending_cases:
                <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(case.tasks)})
                    % for task in case.tasks:
                        <br /><span class="side_indent">
                        <a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a> [${task.currentStatus|h}]</span>
                    % endfor
                </p>
            % endfor
            % if len(requester_pending_cases) == 0:
                <p>None.</p>
            % endif

            <h2>Cases Rejected</h2>
            % for case in requester_rejected_cases:
                <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(case.tasks)})
                    % for task in case.tasks:
                        <br /><span class="side_indent">
                        <a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a> [${task.currentStatus|h}]</span>
                    % endfor
                </p>
            % endfor
            % if len(requester_rejected_cases) == 0:
                <p>None.</p>
            % endif

            <h2>Cases Created</h2>
            % for case in requester_created_cases:
                <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(case.tasks)})
                    % for task in case.tasks:
                        <br /><span class="side_indent">
                        <a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a> [${task.currentStatus|h}]</span>
                    % endfor
                </p>
            % endfor
            % if len(requester_created_cases) == 0:
                <p>None.</p>
            % endif

            <h1>Active Cases</h1>

            <h2>Cases Opened</h2>
            % for case in requester_opened_cases:
                <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(case.tasks)})
                    % for task in case.tasks:
                        <br /><span class="side_indent">
                        <a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a> [${task.currentStatus|h}]</span>
                    % endfor
                </p>
            % endfor
            % if len(requester_opened_cases) == 0:
                <p>None.</p>
            % endif

            <h2>Cases Closed</h2>
            % for case in requester_closed_cases:
                <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(case.tasks)})
                    % for task in case.tasks:
                        <br /><span class="side_indent">
                        <a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a> [${task.currentStatus|h}]</span>
                    % endfor
                </p>
            % endfor
            % if len(requester_closed_cases) == 0:
                <p>None.</p>
            % endif

            <h2>Cases Archived</h2>
            % for case in requester_archived_cases:
                <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(case.tasks)})
                    % for task in case.tasks:
                        <br /><span class="side_indent">
                        <a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a> [${task.currentStatus|h}]</span>
                    % endfor
                </p>
            % endfor
            % if len(requester_archived_cases) == 0:
                <p>None.</p>
            % endif
            </div>
        </div>
    % endif

    % if current_user.is_examiner():
        <div class="sidebar-panel">
            <a href="#"><img class="show-hide-sidepanel-up-button" src="${urls.build("images", dict(file='siteimages/up-arrow.png'))|h}" /></a>
            <a href="#"><img class="show-hide-sidepanel-down-button" src="${urls.build("images", dict(file='siteimages/down-arrow.png'))|h}" /></a>
            <h1>Investigations </h1>

            <div class="show-hide-sidepanel">
                <p><a href='${urls.build("case.view_all", dict(view="Queued"))|h}'>View Unassigned Tasks</a> (${unassigned_tasks|h})</p>
                <p><a href='${urls.build("case.view_all", dict(view="Open"))|h}'>View Open Cases</a> (${open_cases|h})</p>

                <% inv_flag = 0 %>
                <h2>Cases I have work to do</h2>

                <h3>To Start</h3>
                % for case in user_cases:
                    <% tasks = [task for task in case.tasks if current_user in task.investigators and task.status == task_statuses['start']] %>
                    % if len(tasks) > 0:
                    <% inv_flag = inv_flag + 1 %>
                    <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(tasks)})
                        % for task in tasks:
                            <br /><span class="side_indent"><a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a></span>
                        % endfor
                    </p>
                    % endif
                % endfor
                % if inv_flag == 0:
                    <p><span class="side_indent">None</span></p>
                % endif

                <% inv_flag = 0 %>
                <h3>To Complete Investigation</h3>
                % for case in user_cases:
                    <% tasks = [task for task in case.tasks if current_user in task.investigators and task.status == task_statuses['progress']] %>
                    % if len(tasks) > 0:
                    <% inv_flag = inv_flag + 1 %>
                    <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(tasks)})
                        % for task in tasks:
                            <br /><span class="side_indent"><a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a></span>
                        % endfor
                    </p>
                    % endif
                % endfor
                % if inv_flag == 0:
                    <p><span class="side_indent">None</span></p>
                % endif

                <% inv_flag = 0 %>
                <h3>To Deliver</h3>
                % for case in user_cases:
                    <% tasks = [task for task in case.tasks if current_user in task.investigators and task.status == task_statuses['deliver']] %>
                    % if len(tasks) > 0:
                    <% inv_flag = inv_flag + 1 %>
                    <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(tasks)})
                        % for task in tasks:
                            <br /><span class="side_indent"><a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a></span>
                        % endfor
                    </p>
                    % endif
                % endfor
                % if inv_flag == 0:
                    <p><span class="side_indent">None</span></p>
                % endif

                <% inv_flag = 0 %>
                <h3> To QA</h3>
                 % for case in user_qa_cases:
                    <% tasks = [task for task in case.tasks if current_user in task.QAs and task.status in qaRoles] %>
                    % if len(tasks) > 0:
                    <% inv_flag = inv_flag + 1 %>
                    <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(tasks)})
                        % for task in tasks:
                            <br /><span class="side_indent"><a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a></span>
                        % endfor
                    </p>
                    % endif
                % endfor
                % if inv_flag == 0:
                    <p><span class="side_indent">None</span></p>
                % endif

                <% inv_flag = 0 %>
                <h2>Cases I have in QA</h2>
                % for case in user_cases:
                    <% tasks = [task for task in case.tasks if current_user in task.investigators and task.status in qaRoles] %>
                    % if len(tasks) > 0:
                    <% inv_flag = inv_flag + 1 %>
                    <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>${case.case_name|h}</a> (${len(tasks)})
                        % for task in tasks:
                            <br /><span class="side_indent"><a href='${urls.build("task.view", dict(task_id=task.id,case_id=task.case.id))|h}'>${task.task_name|h}</a></span>
                        % endfor
                    </p>
                    % endif
                % endfor
                % if inv_flag == 0:
                    <p><span class="side_indent">None</span></p>
                % endif

                <h2>Old Cases</h2>
                <p><a href='${urls.build("user.case_history", dict(user_id=current_user.id))|h}'>View History</a></p>
            </div>
        </div>
    % endif
</%def>