<%inherit file="/base/base.html"/>

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    <p>side area</p>
</div>
<div id="mainbar">
    <h1>Add a case</h1>
    <h2>Add tasks</h2>

    <form method="post" action="${urls.build('case.add_complete', dict(case=newCase.case_name.lower()))|h}">
    <table class="addcase">
        <tr>
            <td>Task Name</td>
            <td><input id="task_name" name="task_name" class="addeditcase"/></td>
        </tr><tr>
            <td>Task type</td>
            <td>
                <select id="tasktype" name="tasktype" class="addeditcase">
                    <option value="null">Select</option>
                    % for type in taskTypes:
                    <option value="${type.id|h}">${type.taskType|h}</option>
                    % endfor
                </select>
            </td>
        </tr><tr>
            <td>Principle Forensic Investigator</td>
            <td>
                <select id="principleforensicinv" name="principleforensicinv" class="addeditcase">
                    <option value="null">Select</option>
                    <option value="null">None</option>
                    % for user in users:
                    <option value="${user.id|h}">${user.fullname|h}</option>
                    % endfor
                </select>
            </td>
         </tr><tr>
            <td>Secondary Forensic Investigator</td>
            <td>
                <select id="secondaryforensicinv" name="secondaryforensicinv" class="addeditcase">
                    <option value="null">Select</option>
                    % for user in users:
                    <option value="${user.id|h}">${user.fullname|h}</option>
                    % endfor
                </select>
            </td>
        </tr><tr>
            <td>Principle QA</td>
            <td>
                <select id="principleqa" name="principleqa" class="addeditcase">
                    <option value="null">Select</option>
                    % for user in users:
                    <option value="${user.id|h}">${user.fullname|h}</option>
                    % endfor
                </select>
            </td>
        </tr><tr>
            <td>Secondary QA</td>
            <td>
                <select id="secondaryqa" name="secondaryqa" class="addeditcase">
                    <option value="null">Select</option>
                    % for user in users:
                    <option value="${user.id|h}">${user.fullname|h}</option>
                    % endfor
                </select>
            </td>
        </tr>
    </table>

    <p style="text-align:center"><input type="submit" value="Finish" /></p>
    </form>
</div>