<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />

<%def name="javascripts()" filter="trim">
    <script>
        function goBack(){
            window.history.back()
        }
    </script>
</%def>

<div id="sidebar">
    ${sidebars.tasks_menu()}
</div>
<div id="mainbar">

    % if success == True:
    <div class="success">
        <h1>Success!</h1>
        <p>You have successfully added ${qa.fullname|h} as ${role.title()|h} QA for ${task.task_name|h}</p>
        <p><a href='${urls.build("task.view", dict(case_id=task.case.id, task_id=task.id))|h}'>View Task</a> </p>
    </div>

    % else:
        <h1>Assign an QA to the Task</h1>
        % if email_alert_flag:
            <p>Note: The QA will be automatically emailed.</p>
        % endif
        <form method="post" action="${urls.build('task.assign_qa_manager', dict(task_id=task.id, case_id=task.case.id))|h}">
            ${forms.formSelectBox("Role", "role", "role", "form_label", "addeditcase", roles, first=True)}
            ${forms.formSelectBox("QA", "qa", "qa", "form_label", "addeditcase", qas)}
            <p style="clear:both;"><input type="submit" value="Assign QA" /></p>
        </form>
    % endif
</div>