<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />

<%def name="javascripts()" filter="trim">
    <script>
        function goBack(){
            window.history.back()
        }
    </script>
</%def>


<div id="sidebar">
   ${sidebars.tasks_menu()}
</div>

<div id="mainbar">
    % if closed == False:
    <h1>Confirm closure of Case ${case.case_name|h}</h1>
        % if email_alert_flag:
            <p>Note: The requester will be automatically emailed that their case has been closed.</p>
        % endif

    <form method="post" action="${urls.build('case.close', dict(case_id=case.id, confirm='true'))|h}">
        ${forms.formTextArea("Reason for closure", "closure", "closure", "form_label", "addeditcase", first=True)}
        <p style="clear:both; text-align:center"><input type="submit" value="Submit" /></p>
    </form>

    % else:
    <h1>Case ${case.case_name|h} has been closed</h1>
    <p><a href='${urls.build("case.view", dict(case_id=case.id))|h}'>View Case</a></p>
    % endif

</div>