<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />

<%def name="javascripts()" filter="trim">
    <script>
        function goBack(){
            window.history.back()
        }
    </script>
</%def>


<div id="sidebar">
   ${sidebars.tasks_menu()}
</div>

<div id="mainbar">
    % if closed == False:
    <h1>Confirm closure of Case ${case.case_name|h}</h1>
    <div class="confirmclosurebox">
        <p>Are you sure you want to close ${case.case_name|h}?</p>
        <p><a href="?confirm=true">Yes</a> | <a href="#" onclick="goBack()">No</a></p>
    </div>
    % else:
    <h1>Case ${case.case_name|h} has been closed</h1>
    <p><a href='${urls.build("case.view", dict(case_id=case.case_name))|h}'>View Case</a></p>
    % endif
</div>