<%inherit file="/base/base.html"/>
<%namespace file="/utils/forms.html" name="forms" />
<%namespace file="/utils/sidebars.html" name="sidebars" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.user_menu()}
</div>
<div id="mainbar">
    % if current_user.id == user.id:
    <h1>Change Password</h1>
    % else:
    <h1>Change Password for ${user.fullname|h}</h1>
    % endif

    % if success is True:
    <div class="success">
        <h1>Success!</h1>
        % if current_user.id == user.id:
        <p>Your password has been successfully changed.</p>
        % else:
        <p>The password for ${user.fullname|h} has been successfully changed.</p>
        % endif
        % if admin is True:
        <p>${user.fullname|h} has been emailed their new password and advised to change it on next login.</p>
        % endif
    </div>
    % endif

    <form method="post" action="${urls.build('user.edit_password', dict(user_id=user.id))|h}">
        % if current_user.id == user.id:
        ${forms.formTextField("Current Password", "password", "password", "form_label", "addeditcase", input_type='password', first=True)}
        % endif
        ${forms.formTextField("New Password", "new_password", "new_password", "form_label", "addeditcase", input_type='password')}
        ${forms.formTextField("New Password (Confirm)", "new_password_2", "new_password_2", "form_label", "addeditcase", input_type='password')}
        <p style="clear:both;"><input type="submit" value="Change Password" /></p>
    </form>
</div>