<%inherit file="/base/base.html"/>

<%def name="javascripts()" filter="trim">

</%def>


<div id="wholemiddle">

    % if check_perms('Case', 'manage'):
    <h1>Case Manager</h1>

    <div class="boxes">

        % if check_perms('Case', 'add'):
        <a href='${urls.build("case.add")|h}'><div class="pick_a_box">
            Add a new case <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/apps.png'))|h}" />
        </div></a>
        % endif
       <a href='${urls.build("case.view_all")|h}'><div class="pick_a_box">
            View and edit cases <br />
             <img src="${urls.build("images", dict(file='siteimages/icons/binoculars.png'))|h}" />
        </div></a>
        <div class="pick_a_box not_used">
            Produce a report <br />
             <img src="${urls.build("images", dict(file='siteimages/icons/Statistics.png'))|h}" />
        </div>
        <a href='${urls.build("evidence.view_all")|h}'><div class="pick_a_box">
            View evidence locker <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/cabinet.png'))|h}" />
        </div></a>
    </div>

    <div style="clear:both" />
    % endif

    % if check_perms('Case', 'examiner'):
    <h1>Forensic Examiner</h1>

    <div class="boxes">
        <a href='${urls.build("case.view_all")|h}'><div class="pick_a_box">
            View cases <br />
             <img src="${urls.build("images", dict(file='siteimages/icons/binoculars.png'))|h}" />
        </div></a>
        <a href='${urls.build("task.view_all")|h}'><div class="pick_a_box">
            <div class="speechbubble">${number_of_tasks|h}</div>
            Work on a task <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/applications.png'))|h}" />
        </div></a>
        <a href='${urls.build("task.view_qas")|h}'><div class="pick_a_box">
            <div class="speechbubble">${number_of_qas|h}</div>
            QA a task <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/tick.png'))|h}" />
        </div></a>
        <a href='${urls.build("evidence.add", dict(case_id="k"))|h}'><div class="pick_a_box">
            Add evidence <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/harddrive.png'))|h}" />
        </div></a>

        <a href='${urls.build("evidence.view_all")|h}'><div class="pick_a_box">
            View evidence locker <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/cabinet.png'))|h}" />
        </div></a>
     </div>

    <div style="clear:both" />
    % endif

    % if check_perms('Case', 'request'):
    <h1>Case Requester</h1>

    <div class="boxes">
        <a href='${urls.build("case.add")|h}'><div class="pick_a_box">
            Add a new case <br />
             <img src="${urls.build("images", dict(file='siteimages/icons/apps.png'))|h}" />
        </div></a>
        <a href='${urls.build("case.view_all")|h}'><div class="pick_a_box">
            View and edit cases <br />
             <img src="${urls.build("images", dict(file='siteimages/icons/binoculars.png'))|h}" />
        </div></a>
        <div class="pick_a_box not_used">
            Produce a report <br />
             <img src="${urls.build("images", dict(file='siteimages/icons/Statistics.png'))|h}" />
        </div>
    </div>

    <div style="clear:both" />
    % endif


    <h1>Admin</h1>

    <div class="boxes">
        <a href='${urls.build("user.edit", dict(user_id=current_user.id))|h}'><div class="pick_a_box">
            Edit profile <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/home.png'))|h}" />
        </div></a>

    % if check_perms('Case', 'admin'):
        <a href='${urls.build("user.view_all")|h}'><div class="pick_a_box">
            Edit users <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/user.png'))|h}" />
        </div></a>
        <a href='${urls.build("general.admin")|h}'><div class="pick_a_box">
            Edit settings <br />
            <img src="${urls.build("images", dict(file='siteimages/icons/tools.png'))|h}" />
        </div></a>
     </div>

    <div style="clear:both" />
    % else:
    </div>

    <div style="clear:both" />
    % endif

</div>
