<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />

<%def name="javascripts()" filter="trim"></%def>


<div id="sidebar">
   ${sidebars.tasks_menu()}
</div>

<div id="mainbar">
    <h1>New task has been submitted</h1>
    <div class="confirmclosurebox">
        <p>Your task has been assigned the name <b>${task.task_name|h}</b>. A case manager will be in contact
        to discuss your case & new task shortly. </p>
        <p><a href='${urls.build("task.view", dict(task_id=task.id, case_id=task.case.id))|h}'>View your task here.</a></p>
    </div>
</div>