<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/format.html" name="formatting" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.tasks_menu()}
</div>
<div id="mainbar">
    <h1>${task.case.case_name|h}: Task ${task.task_name|h}</h1>

    <p>
    % if check_perms(task.case, 'view'):
    <a href='${urls.build("case.view", dict(case_id=task.case.id))|h}'>View Case</a>
    % endif

    % if check_perms(task, 'edit'):
        | <a href='${urls.build("task.edit", dict(task_id=task.id,case_id=task.case.id))|h}'>Edit</a>
    % endif
    % if check_perms(task, 'close'):
        | <a href='${urls.build("task.close", dict(task_id=task.id,case_id=task.case.id))|h}'>Close</a>
    % endif

    % if check_perms(task, 'edit'):
        % if task.status == task_statuses['created']:
        | <a href='${urls.build("task.change_status", dict(task_id=task.id,case_id=task.case.id,status=task_statuses["queued"]))|h}'>Change Status to Queued</a>
        % elif task.status == task_statuses['complete']:
        | <a href='${urls.build("task.change_status", dict(task_id=task.id,case_id=task.case.id,status=task_statuses["closed"]))|h}'>Change Status to Closed</a>
        % endif
    % endif

    % if check_perms(task, 'work') and task.case.status == case_statuses['open']:
        % if task.status != task_statuses['queued'] and task.status != task_statuses['created'] and task.status != task_statuses['start'] and task.status != task_statuses['complete']:
            % if task.status == task_statuses['deliver']:
            | <a href='${urls.build("forensics.work", dict(task_id=task.id, case_id=task.case.id))|h}'>Work on task / complete task</a>
            % else:
            | <a href='${urls.build("forensics.work", dict(task_id=task.id, case_id=task.case.id))|h}'>Work on task</a>
            % endif
        % elif task.status == task_statuses['start']:
        | <a href='${urls.build("forensics.work", dict(task_id=task.id, case_id=task.case.id))|h}'>Begin work on task</a>
        % endif
    % endif

    % if check_perms(task, 'assign-self'):
        % if task.principle_investigator is None and current_user not in task.workers:
            | <a href='${urls.build("task.assign_work", dict(task_id=task.id, case_id=task.case.id, assign="primary"))|h}'>Assign myself as principle investigator</a>
        % endif
        % if task.secondary_investigator is None and current_user not in task.workers:
            | <a href='${urls.build("task.assign_work", dict(task_id=task.id, case_id=task.case.id, assign="secondary"))|h}'>Assign myself as secondary investigator</a>
        % endif
        % if task.principle_QA is None and current_user not in task.workers:
            | <a href='${urls.build("task.assign_qa", dict(task_id=task.id, case_id=task.case.id, assign="primary"))|h}'>Assign myself as principle QA</a>
        % endif
        % if task.secondary_QA is None and current_user not in task.workers:
            | <a href='${urls.build("task.assign_qa", dict(task_id=task.id, case_id=task.case.id, assign="secondary"))|h}'>Assign myself as secondary QA</a>
        % endif
    % endif

    % if check_perms(task, 'assign-other') and (task.principle_investigator is None or task.secondary_investigator is None):
    | <a href='${urls.build("task.assign_work_manager", dict(task_id=task.id, case_id=task.case.id))|h}'>Assign an Investigator to task</a>
    % endif

    % if check_perms(task, 'assign-other') and (task.principle_QA is None or task.secondary_QA is None):
    | <a href='${urls.build("task.assign_qa_manager", dict(task_id=task.id, case_id=task.case.id))|h}'>Assign a QA to task</a>
    % endif

    % if check_perms(task, 'qa') and task.status == task_statuses['qa']:
    | <a href='${urls.build("forensics.qa", dict(task_id=task.id, case_id=task.case.id))|h}'>QA task</a>
    % endif
    </p>

    <h2>Task Description</h2>

    <div class="task_background">${task.background}</div>

    <h2>Case Details</h2>

    <table class="case_details">
        <tr>
            <th>Case</th>
            <td>
                % if task.case.private:
                <a class="highlight" href='${urls.build("case.view", dict(case_id=task.case.id))|h}'>${task.case.case_name|h}</a>
                    <img alt="lock icon" src="${urls.build("images", dict(file='siteimages/icons/Keychain.png'))|h}" width="20px" />
                % else:
                <a href='${urls.build("case.view", dict(case_id=task.case.id))|h}'>${task.case.case_name|h}</a>
                % endif
        </tr>

         <tr>
            <th>Case Created</th>
            <td>${task.case.date_created|h}</td>
        </tr>

        <tr>
            <th>Case Status</th>
            <td>
                % if task.case.status == "Archived":
                    <span class="archived">${task.case.status|h}</span>
                % else:
                    ${task.case.status|h}
                % endif
            </td>
        </tr>
         <tr>
            <th>Case Priority</th>
            <td><span class="priority" style="background-color:${task.case.case_priority_colour|h}">&nbsp;</span>${task.case.case_priority|h}</td>
        </tr>
        % if task.case.deadline:
        <tr>
            <th>Deadline</th>
            <td>${task.case.date_deadline|h}

            <% from datetime import datetime %>
            <% now = datetime.now() %>
            <% days = (task.case.deadline - now).days %>

                % if days == 0:
                    (Today}
                % elif days == 1:
                    (1 day)
                 % elif days < 0:
                    <span class="highlight">(${days} days)</span>
                % else:
                    (${days} days)
                % endif
            </td>
        </tr>
        % endif
        <tr>
            <th>Principle Case Manager</th>
             % if task.case.principle_case_manager != None:
            <td><a href='${urls.build("user.view", dict(user_id=task.case.principle_case_manager.id))|h}'>${task.case.principle_case_manager.fullname|h}</a></td>
            % else:
            <td>None assigned</td>
            % endif
        </tr>
        <tr>
            <th>Secondary Case Manager</th>
            % if task.case.secondary_case_manager != None:
            <td><a href='${urls.build("user.view", dict(user_id=task.case.secondary_case_manager.id))|h}'>${task.case.secondary_case_manager.fullname|h}</a></td>
            % else:
            <td>None assigned</td>
            % endif
        </tr>
        <tr>
            <th>Requester</th>
            <td>
                % if task.case.requester is not None:
                <a href='${urls.build("user.view", dict(user_id=task.case.requester.id))|h}'>${task.case.requester.fullname|h}</a>
                % else:
                None assigned
                % endif
            </td>
        </tr>
        </table>

    <h2>Task Details</h2>
    ${formatting.task_details(task)}

    <h2>File Uploads</h2>

    % if check_perms(task, 'work'):
        <p><a href='${urls.build("forensics.work", dict(task_id=task.id, case_id=task.case.id, active_tab=-1))|h}'>Upload a File</a></p>
    % endif

    <% count = 0 %>
    % for upload in task.task_uploads:
        % if upload.deleted is False:
            <% count += 1 %>
            <div class="task_uploads">
                <img src='${urls.build("images", dict(file="siteimages/icons/document.png"))|h}' class='evidenceicon' />
                <p><a href='${urls.build("task.view_upload", dict(task_id=task.id,case_id=task.case.id, upload_id=upload.id))|h}'>${upload.file_title|h}</a>
                <br/>Uploaded: ${upload.date|h}</p>
            </div>
        % endif
    % endfor

    % if count == 0:
        <p>No uploaded files.</p>
    % endif

</div>