<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.user_menu()}
</div>
<div id="mainbar">

    % if check_perms("User", 'add'):
    <h1>Add a new User</h1>

    <p><a href='${urls.build("user.add", dict())|h}'>Add a user</a></p>
    % endif

    <h1>Current Users</h1>


    <table>
        <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Edit Profile</th>
            <th>User Roles</th>
            % if check_perms("User", 'add'):
            <th>Validated</th>
            <th>Active</th>
            % endif
        </tr>
        % for user in users:
            % if user.validated is True or check_perms("User", 'add'):
        <tr>
            <td><a href='${urls.build("user.view", dict(user_id=user.id))|h}'>${user.username|h}</a></td>
            <td>${user.fullname|h}</td>
            <td>
            % if check_perms(user, 'edit'):
            <a href='${urls.build("user.edit", dict(user_id=user.id))|h}'>Edit</a>
            % endif
            </td>
            <td>
                    ${", ".join(role for role in user.users_roles())|h}
            </td>
            % if check_perms("User", 'add'):
            <td>
                % if user.validated is False:
                <a href='${urls.build("general.admin", dict(active_tab=5))|h}'>${user.validated|h}</a>
                % else:
                ${user.validated|h}
                % endif
            </td>
            <td>
                % if user.active:
                    Yes
                % else:
                    No
                % endif
            </td>
            % endif
        </tr>
            % endif
        % endfor
    </table>
</div>