<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.user_menu()}
</div>

<div id="mainbar">
    % if current_user.id == user.id:
    <h1>My Profile</h1>
    % else:
    <h1>Profile for ${user.fullname|h}</h1>
    % endif

    <h2>Basic Details</h2>
    <table class="userdetails">
        <tr>
            <th>Username</th>
            <td>${user.username|h}</td>
        </tr>
        % if user.validated is False:
        <tr>
            <th>Validated</th>
            <td><a href='${urls.build("general.admin", dict(active_tab=4))|h}'>False</a></td>
        </tr>
        % endif
        <tr>
            <th>Forename</th>
            <td>${user.forename|h}</td>
        </tr>
        % if user.middle is not None:
        <tr>
            <th>Middle Name</th>
            <td>${user.middle|h}</td>
        </tr>
        % endif
        <tr>
            <th>Surname</th>
            <td>${user.surname|h}</td>
        </tr>
    </table>

    % if check_perms(user, 'edit'):
    <p><a href="${urls.build("user.edit", dict(user_id=user.id))|h}">Edit Details</a></p>
    % endif

    <h2>Roles Groups</h2>

    <table>
        <tr>
        % for role_group in role_groups:
            <td width="90px">${role_group|h}</td>
        % endfor
        </tr>
        <tr>
         % for role_group in role_groups:
            <td>
                % if role_group in user_roles:
                <img src="${urls.build("images", dict(file='siteimages/icons/tick.png'))|h}" />
                % else:
                <img src="${urls.build("images", dict(file='siteimages/icons/cross.png'))|h}" />
                % endif
            </td>
         % endfor
        </tr>
    </table>

    % if check_perms(user, 'edit-roles'):
    <p><a href="${urls.build("user.edit", dict(user_id=user.id, tab="edit_roles"))|h}">Edit Role Groups</a></p>
    % endif

    % if check_perms(user, 'view-changes'):
        % if len(user_changes_history) > 0:
        <h2>Changes Made</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Item Changed</th>
                <th>Change Details</th>
            </tr>
            % for history in user_changes_history:
                <tr>
                    <td>${history['date']|h}</td>
                    <td>
                        ${history['object'][0]|h}: ${history['object'][1]|h}
                    </td>
                    <td>
                        % if not isinstance(history['change_log'], basestring):
                        % for entry, change in history['change_log'].iteritems():
                            % if change[0] == "ADD":
                                % if history['object'][0] == "Role":
                                The ${entry|h} Role was assigned to ${change[1]|h} <br/>
                                % else:
                                The ${entry|h} was assigned to ${change[1]|h} <br/>
                                % endif
                            % elif change[0] == "DEL":
                                % if history['object'][0] == "Role":
                                ${change[1]|h} was removed from the ${entry|h} Role<br/>
                                % else:
                                ${change[1]|h} was removed from ${entry|h}<br/>
                                % endif
                            % else:
                                The ${entry|h} changed from ${change[0]|h} to ${change[1]|h} <br/>
                            % endif
                        % endfor
                        % else:
                            ${history['change_log']|h}
                        % endif
                    </td>
                </tr>
            % endfor
        </table>
        % endif
    % endif

    % if check_perms(user, 'view-active-roles'):
        % if len(cases_worked_on) > 0:
        <h3>Active roles</h3>

        <table>
            <tr>
                <th>Case</th>
                <th>Case Roles</th>
                <th>Task</th>
                <th>Task Roles</th>
            </tr>
            % for case in cases_worked_on:
                % for x, task in enumerate(case.tasks):
                <tr>
                    % if x == 0:
                    <td rowspan="${len(case.tasks)}">${case.case_name|h}</td>
                    <td rowspan="${len(case.tasks)}">
                        % if len(case.get_user_roles(user.id)) > 0:
                            % for roles in case.get_user_roles(user.id):
                            ${roles.role|h}
                            % endfor
                        % endif
                    </td>
                    % endif

                    <td>${task.task_name|h}</td>
                    <td>
                        % if len(task.get_user_roles(user.id)) > 0:
                            % for roles in task.get_user_roles(user.id):
                            ${roles.role|h}
                            % endfor
                        % endif
                    </td>
                </tr>
                % endfor
            % endfor
        </table>
        % endif
   % endif

</div>